.addNews {
    width: 100%;
    max-width: 720px;
    padding: 15px;
    padding-top: 40px;
    margin: auto;
    min-height: 785px;
}

.shortText {
    resize: none;
    height: 200px;
}

.fullText {
    resize: none;
    min-height: 400px;
}