.header {
    background-color: aqua;
    height: 50px;
    border-radius: 10px;
}

.title {
    width: 200px;
    position: relative;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

